@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", sans-serif;
  background: #f9f9f9;
  scroll-behavior: smooth;
}
